.list {
  background-color: #333364;
}

.list-item {
  padding: 20;
  font-size: 14;
  color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
}

.avatar {
  width: 40;
  height: 40;
  border-radius: 20;
  color: #ffffff;
  font-weight: bold;
  font-size: 20;
  text-align: center;
  align-self: center;
  margin-right: 20;
}

.name {
  font-size: 16;
}

.points {
  font-weight: bold;
}

.color-0 {
  background-color: #2ed462;
}

.color-1 {
  background-color: #4872f1;
}

.color-2 {
  background-color: #f78b49;
}

.color-3 {
  background-color: #ef4cd8;
}

.color-4 {
  background-color: #7c52f6;
}

.color-5 {
  background-color: #2c9beb;
}

.color-6 {
  background-color: #e4403d;
}

.color-7 {
  background-color: #e5ea42;
}

.color-8 {
  background-color: #42eae5;
}

.color-9 {
  background-color: #16a210;
}
